<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.infosis.orangehrm.test.login_page_test"/>
      <class name="com.infosis.orangehrm.test.dash_board_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
